<!-- HEADER SECTION STARTS HERE -->
<header class="main-header">

  <div class="content">

    <div class="logo">
      <a href="{{ site.baseurl }}">Panda<span>Box</span></a>
    </div>

    <nav class="main-nav">

      <a href="#intro">Accueil</a>
      <a href="#agency">L'Agence</a>
      <a href="#services">Services</a>
      <a href="#creations">Creations</a>
      <a href="#contact">Contact</a>

    </nav>

    <button class="menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462 163.5H50v-65h412v65zm0 60H50v65h412v-65zm0 125H50v65h412v-65z"/></svg>
    </button>

  </div>

</header>
<!-- HEADER SECTION STARTS HERE -->


<!-- mobile menu starts here -->
<nav class="mobile-nav">

  <a href="#intro">Accueil</a>
  <a href="#agency">L'Agence</a>
  <a href="#services">Services</a>
  <a href="#creations">Creations</a>
  <a href="#contact">Contacts</a>

</nav>
<!-- mobile menu ends here -->